/* Style for index.php (List of Items) */

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
    color: blue;
    margin-right: 10px;
}

a:hover {
    text-decoration: underline;
}
button{
    color: #fff;
    background: #ff4b2b;
    font-size: 17px;
    font-weight: bold;
    padding: 12px 55px;
    margin: 20px;
    border-radius: 20px;
    border: 1px solid #ff4b2b;
    outline: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80px ease-in;
    cursor: pointer;
	align-items: center;

}
h1{
	text-align:center;
	letter-spacing: 1px;
    text-transform: uppercase;
	
}
body{
	  background-color:azure;
}

@media only screen and (max-width: 600px) {
    .form-container {
        width: 90%; /* Adjust width for small screens */
    }

    table, th, td {
        font-size: 14px; /* Decrease font size for better readability on small screens */
    }
}

/* For medium to large devices (e.g., tablets, computers) */
@media only screen and (min-width: 601px) {
    .form-container {
        width: 50%; /* Adjust width for medium to large screens */
    }
}




